.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 35% auto;
  }
  
  .sliders_control {
    position: relative;
    min-height: 20px;
  }
  
  .form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #635a5a;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  }
  
  input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 16px;
    border: none;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
     opacity: 1;
  }
  
  input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }
  
  #fromSlider {
    height: 0;
    z-index: 1;
  }

  .hidden-input {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
    top: 2px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #25DAA5;
  }
  
  input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
  }
  
  #info-button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    font-size: 18px;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    z-index: 1000;
  }
  
  #info-box {
    position: absolute;
    top: 70px;
    right: 120px;
    background-color: white;
    padding: -10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 250px;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  #right-container {
  flex: 0 0 300px;
  max-width: 90vw;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  /* box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); */
}

#right-container {
  position: absolute;
  top: 50px;
  right: 3vw; /* responsive right margin */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.95);
  max-height: calc(100vh - 60px); /* keep it within screen height */
}

@media (min-width: 1200px) {
  #right-container {
    right: 5vw;
  }
}

@media (max-width: 768px) {
  #main-container {
    flex-direction: column;
  }


  #map-wrapper {
    height: 70vh;
  }
}

#legend-container {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  min-height: 0;
  min-height: 100px;
  border: 1px solid #ccc; 
  margin-top: 10px;
}

#map-container {
  overflow: hidden;
  position: relative;
}


.range_container {
  width: 100%;
  max-width: 240px;
  height: auto;
  /* width: 200px;  */
  margin-top: 20px; 
  /* margin-left: 40px; */
}

.svg-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.status-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.status-button:focus {
  outline: none;
  box-shadow: none;
}
.status-button img {
  opacity: 0.3; 
  transition: opacity 0.2s;
}

.status-button.active img {
  opacity: 1; 
}


